.input-search {
  display: flex;
  align-items: center;
}

.input-search input {
  border-radius: 25px 0 0 25px;
  height: 40px;
  border-right: 0;
}

.input-search .icon {
  position: absolute;
  color: rgb(192, 192, 192);
  padding-left: 15px;
  font-size: 18px;
}

.input-search .dropdown-menu button {
  height: 40px;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-left: 0;
  color: rgb(133, 133, 133);
}

.input-search .dropdown-menu button:hover {
  background-color: #ced4da;
  border: 1px solid #ced4da;
  border-left: 0;
}

.input-search .dropdown-menu button[aria-expanded="false"] {
  border-radius: 0 25px 25px 0;
}

.input-search .dropdown-menu button[aria-expanded="true"] {
  border-radius: 0 25px 0 0;
  background-color: #ced4da;
  border: 1px solid #ced4da;
  box-shadow: none !important;
}

.input-search .dropdown-menu div {
  color: blue;
  min-width: 5.6rem !important;
  border-radius: 0;
  box-shadow: 0 0 0 0.25remrgba (13, 110, 253, 0.25);
  transform: translate3d(-1px, 40px, 10px) !important;
  border: 0;
  background-color: aliceblue;
}

/* .focus {
  padding-left: 40px;
} */
