.logo img {
  width: 180px;
  height: 80px;
  object-fit: cover;
  margin-top: 25%;
}

.container {
  height: 100vh;
  text-align: center;
}

.search {
  width: 90%;
  margin: auto;
}

@media (min-width: 768px) {
  .logo img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .container {
    height: 100vh;
    text-align: center;
  }

  .search {
    width: 55%;
    margin: auto;
  }
}
