.card {
  background-color: rgba(241, 241, 241, 0.37);
  border-radius: 2px;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid rgb(235, 235, 235);
  border-left: 0;
  border-right: 0;
}

@media (min-width: 768px) {
  .card {
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 2px;
    padding: 20px 0 0 0;
    margin: 10px 0;
    border: 1px solid rgb(255, 255, 255);
    border-left: 0;
    border-right: 0;
  }
}