.radio-button {
  border: 0 !important;
  color: black !important;
  border-radius: 0 !important;
  padding-bottom: 10px !important;
}

.radio-button:hover {
  color: rgb(211, 211, 211) !important;
  background-color: transparent !important;
}

@media (min-width: 768px) {
  .radio-button {
    padding: 13px 0 !important;
  }
}
